doctype html
//
  Solid State by HTML5 UP
  html5up.net | @n33co
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
  head
    title datanderum.com
    |         
    meta(charset='utf-8')
    |         
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //if lte IE 8
      script(src='assets/js/ie/html5shiv.js')
    |         
    link(rel='stylesheet', href='assets/css/main.css')
    //if lte IE 9
      link(rel='stylesheet', href='assets/css/ie9.css')
    //if lte IE 8
      link(rel='stylesheet', href='assets/css/ie8.css')
  |     
  body
    // Page Wrapper
    #page-wrapper
      // Header
      header#header.alt
        h1
          a(href='index.html') Datanderum Web Solutions
        |                         
        nav
          a(href='#menu') Menu
      // Menu
      nav#menu
        .inner
          h2 Menu
          |                             
          ul.links
            li
              a(href='') Home
            |                                 
            li
              a(href='services') Services
            |  
            li
              a(href='tutorial') Tutorial
            |   
            li
              a(href='portfolio') Portfolio
            |                                        
            li
              a(href='about') About Us
            |                             
            li
              a(href='#') Log In
            |                                 
            li
              a(href='#') Sign Up
          |                             
          a.close(href='#') Close
      // Banner
      section#banner
        .inner
          .logo
            span.icon.fa-diamond
          |                             
          h2 Web solutions made easy
          |                             
          p
            | Datanderum is offers a free platform dedicated to the design of reliable and responsive web applications
            // <a href="http://html5up.net">HTML5 UP</a>
      // Wrapper
      section#wrapper
        // One
        section#one.wrapper.spotlight.style1
          .inner
            a.image(href='#')
              img(src='images/pic01.jpg', alt='')
            |                                     
            .content
              h2.major One-click web templating
              |                                         
              p
                | Our one-click designs allow you to release your product to the public as soon as an idea comes to mind. If your goal is to quickly present a prototype or to create the perfect portfolio without any hassel, we have the perfect solution.  Our state of the art templating platform allows us to provide technical, modern layouts that give our clients the ability to turn their visions into reality.
              |                                         
              a.special(href='services/design') Learn more
        // Two
        section#two.wrapper.alt.spotlight.style2
          .inner
            a.image(href='#')
              img(src='images/pic02.jpg', alt='')
            |                                     
            .content
              h2.major Web solutions in accordance with your goals
              |                                         
              p
                | Your web presence is crucial to your identity as a business and we know that businesses grow and change over time. At Datanderum, our goal is to provide a clear path for our clients to enjoy the growth of their website without dealing with the challenges. 
                br
                | Our service will provide you with the web application that you need. A revolution in computing and web development has occured that has allowed us tech gurus to take a service oriented approach to developing web applications. Our approach gives us the ability to develop stable, scalable applications for our clients. 

                Together, we can chose the right solutions in accordance with your needs.
              |                                         
              a.special(href='#') Learn more
        // Three
        section#three.wrapper.spotlight.style3
          .inner
            a.image(href='#')
              img(src='images/pic03.jpg', alt='')
            |                                     
            .content
              h2.major Nullam dignissim
              |                                         
              p
                | Lorem ipsum dolor sit amet, etiam lorem adipiscing elit. Cras turpis ante, nullam sit amet turpis non, sollicitudin posuere urna. Mauris id tellus arcu. Nunc vehicula id nulla dignissim dapibus. Nullam ultrices, neque et faucibus viverra, ex nulla cursus.
              |                                         
              a.special(href='#') Learn more
        // Four
        section#four.wrapper.alt.style1
          .inner
            h2.major Our services
            |                                     
            p
              | Cras mattis ante fermentum, malesuada neque vitae, eleifend erat. Phasellus non pulvinar erat. Fusce tincidunt, nisl eget mattis egestas, purus ipsum consequat orci, sit amet lobortis lorem lacus in tellus. Sed ac elementum arcu. Quisque placerat auctor laoreet.
            |                                     
            section.features
              article
                a.image(href='#')
                  img(src='images/pic04.jpg', alt='')
                |                                             
                h3.major Sed feugiat lorem
                |                                             
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.
                |                                             
                a.special(href='#') Learn more
              |                                         
              article
                a.image(href='#')
                  img(src='images/pic05.jpg', alt='')
                |                                             
                h3.major Nisl placerat
                |                                             
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.
                |                                             
                a.special(href='#') Learn more
              |                                         
              article
                a.image(href='#')
                  img(src='images/pic06.jpg', alt='')
                |                                             
                h3.major Ante fermentum
                |                                             
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.
                |                                             
                a.special(href='#') Learn more
              |                                         
              article
                a.image(href='#')
                  img(src='images/pic07.jpg', alt='')
                |                                             
                h3.major Fusce consequat
                |                                             
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus ultrices.
                |                                             
                a.special(href='#') Learn more
            |                                     
            ul.actions
              li
                a.button(href='#') Browse All
      // Footer
      section#footer
        .inner
          h2.major Get in touch
          |                             
          p
            | Feel free to contact us via your preferred social platform.
          |                             
          form(method='post', action='#')
            .field
              label(for='name') Name
              |                                     
              input#name(type='text', name='name')
            |                                 
            .field
              label(for='email') Email
              |                                     
              input#email(type='email', name='email')
            |                                 
            .field
              label(for='message') Message
              |                                     
              textarea#message(name='message', rows='4')
            |                                 
            ul.actions
              li
                input(type='submit', value='Send Message')
          |                             
          ul.contact
            li.fa-home
              | Anderum Inc.
              br
              |                                     247A Throop Ave
              br
              |                                     Brooklyn, NY 11206-6611
            |                                 
            li.fa-phone (718) 483-5409
            |                                 
            li.fa-envelope
              a(href='#') datanderum@gmail.com
            |                                 
            li.fa-twitter
              a(href='#') twitter.com/dat_anderum
            |                                 
            li.fa-facebook
              a(href='#') facebook.com/datanderum
            |                                 
            li.fa-instagram
              a(href='#') instagram.com/datanderum
          |                             
          ul.copyright
            li &copy; Anderum Inc. All rights reserved.
            li
              | Design: 
              a(href='http://html5up.net') HTML5 UP
    // Scripts
    script(src='assets/js/skel.min.js')
    |             
    script(src='assets/js/jquery.min.js')
    |             
    script(src='assets/js/jquery.scrollex.min.js')
    |             
    script(src='assets/js/util.js')
    //if lte IE 8
      script(src='assets/js/ie/respond.min.js')
    |             
    script(src='assets/js/main.js')
